
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Dependências
node_modules/

# Resultados de testes
test-results/
playwright-report/
blob-report/
playwright/.cache/

# Arquivos de sistema
.DS_Store